* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: 1rem; */
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.background {
  background-image: url('https://images.pexels.com/photos/19031632/pexels-photo-19031632/free-photo-of-a-river-with-a-bridge-and-mountains-in-the-background.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  font-size: 20px;
  height: 100vh;
  /* background-repeat: no-repeat; */
  background-size: cover;
}
